SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="5c:f9:dd:50:60:b4", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="enp*", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="84:a6:c8:c9:80:2e", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
