[Unit]
Description=iwd Wireless Service Daemon
Documentation=https://git.kernel.org/pub/scm/network/wireless/iwd.git
After=systemd-udevd.service systemd-networkd.service

[Service]
ExecStartPre=-/sbin/modprobe -v ath10k_pci ath10k_core
ExecStart=/usr/libexec/iwd --debug
ExecStartPost=/bin/sleep 10s
ExecStartPost=/bin/sh -c "/bin/ip a" | /bin/grep -q "scope global dynamic noprefixroute wlp2s0"
LimitNPROC=1
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
